#main
  .container
    .row
      #mainbar.span9
        %section.box
          = render :partial => 'user', :collection => @following
        %section.box
          %table.item-list
            %tbody
              - @rss.each do |r|
                %tr
                  %td.avatar= image_tag(r.actor_avatar_url)
                  %td.content
                    =link_to r.text, r.link
                    %span.time
                      = format_time r.created_at